# fly.toml app configuration
app = "alacena-backend"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"
  
[env]
  NODE_ENV = "production"
  PORT = "3001"
  DATABASE_URL = "postgresql://postgres:DjDK6YNUopieqRGW@[2600:1f18:2e13:9d1c:faba:208:6f00:de21]:5432/postgres?schema=public&sslmode=disable"
  JWT_SECRET = "your-super-secret-jwt-key-change-in-production"

[[services]]
  internal_port = 3001
  processes = ["app"]
  protocol = "tcp"
  
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
  
  [[services.ports]]
    handlers = ["http"]
    port = 80
  
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
  
  [[services.tcp_checks]]
    interval = 15000
    timeout = 10000
